@page
@model Assignment02_07_He160021.Pages.Carts.AddItemToCartModel
@{
}

<h2>@Model.MyCookie ds</h2>

<div>
    <form method="post" id="addToCartForm">
        <input type="text" name="id" id="productId" />
        <button type="button" class="btn btn-primary" onclick="handleAdditem(1)">Add To Card</button>
    </form>
</div>

<script>
    const handleAdditem = (productId) => {
        document.getElementById("productId").value = productId;
        document.getElementById("addToCartForm").submit();
    }
</script>
